@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.solid-line {
  border-bottom: 1px solid black; /* Adjust thickness and color as needed */
  width: 100%; /* Adjust the width as needed */
  margin: 20px 0; /* Adjust margin as needed */
}

.iconImage{
  width: 15vh;
  height: 15vh;
}

.icons{
  width: 2.5vw;
  height: 2vw;
}
.smallScreenIcons{
  width: 7.5vw;
  height: 7vw;
}
